<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<body>
    <h1>Created by Ankit Mitra</h1><br><br>
    <h3>Website Features</h3>
    <ul>
        <li>Fast</li>
        <li>Secure</li>
        <li>Easy To use</li>
        <li>Customizable and strong Password</li><br><br>
    </ul>
    <p>Here's a Gift for You :)</p>
    <a class="btn btn-success" href="https://github.com/AnkitMItraOfficial/password-generator.git">Github</a><br><br><br>
    <a href="{% url 'home' %}" class="btn btn-danger">Home</a>
</body>
</html>