<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Password</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<body>
    <div class="container text-center">
    <h3>Generated Password is</h3><br>
    <h4 class="alert alert-success">{{ password }}</h4>


<br>
<br>
<a href="{% url 'home' %}" class="btn btn-danger">Home</a><br><br><br><br><br>
</div>
    <h3>This webite is a part of the Todo Woo</h3>
    <a href="http://ankitmitra.pythonanywhere.com/signup/" target="_blank" class="btn btn-warning">Todo woo</a>
</body>
</html>